name: Flask Simple CRUD CI

on:
push:
branches: ["main"]
pull_request:
branches: ["main"]

jobs:
build:

runs-on: ubuntu-latest

steps:
- name: Checkout Code
uses: actions/checkout@v3

steps:
- name: Setup Python
uses: actions/setup-python@v4
with:
python-version: "3.10"

steps:
- name: Install Dependencies
run: pip install -r requirements.txt
steps:
- name: Run Tests
  run: pytest